@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-cabecalho{
    padding: 25px;
}

ul {
    display: flex; 
    list-style: none; 
    padding: 0; 
    padding-left: 30px;
    margin: 0;
    margin-top: 10px;
    gap: 70px;
    font-size: 20px; 
    font-weight: 540;
}

.botao-login {
    color: white;
    background-color: #3C96FF;
    padding: 8px 45px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    transition: background-color 0.3s;
}

.login {
    padding: 20px;
    padding-right: 28px;
}

.linha-horizontal {
    width: 100%;
    border-bottom: 1px solid #ccc; 
    margin: 10px 0;
}

/* FIM DO HEADER */

/* INICIO DO MAIN */

.topo {
    display: flex;
    justify-content: space-between;
}

.topo-texto {
    font-size: 70px;
    
}